<!doctype html>
<!-- 规定该html的语言,默认en,我们设置为zh @see http://www.w3school.com.cn/tags/html_ref_language_codes.asp -->
<!-- xmlns:th="http://www.thymeleaf.org 添加对thymeleaf的命名空间声明 -->
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" th:href="@{static/bootstrap/bootstrap.min.css}"/>
  <style type="text/css">
       body{
         background: url("/static/images/bg01.jpg") repeat fixed center;
       }







  </style>
  <title>登录</title>
</head>
<body >
<div class="container">

  <h3 class="text-center" style="margin-top: 180px">后台管理系统</h3>

  <form style="margin-top: 148px;">
    <div class="form-group">
      <div class="col-md-4 offset-md-4">
        <input type="text" class="form-control" id="username" placeholder="用户名">
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-4 offset-md-4">
        <input type="password" class="form-control" id="password" placeholder="密码">
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-10 offset-md-4">
        <div class="col-md-3 checkbox">
          <input type="checkbox"> 记住我
        </div>
        <div class="col-md-6 offset-md-3">
          <button type="submit" class=" btn-info ">登 录</button>
        </div>
      </div>
    </div>
  </form>

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script th:src="@{static/bootstrap/jquery-1.9.1.min.js}"></script>
<script th:src="@{static/bootstrap/popper.min.js}"></script>
<script th:src="@{static/bootstrap/bootstrap.min.js}"></script>
</body>
</html>